<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>

<body>

<form action="/uploader" method="POST"
      enctype="multipart/form-data">
     Register User <br>
    name: <input type="text" name="user_name"><br>
    age: <input type="text" name="age"><br>
    city: <input type="text" name="city"><br>
    state: <input type="text" name="state"><br>
    zip: <input type="text" name="zip"><br>
    phone: <input type="text" name="phone"><br>
    <input type="file" name="file"/><br>
    <input type="submit"/><br>

</form>

</body>


</body>
</html>